[Unit]
Description=Basic Station LoRaWAN packet forwarder

[Service]
User=root
WorkingDirectory=/etc/aether
ExecStart=/usr/bin/station --home=/etc/aether --log-file=/var/aether/station.log --radio-init /etc/aether/init.sh --force
Restart=always

[Install]
WantedBy=multi-user.target
