[Unit]
Description=Basic Station LoRaWAN packet forwarder

[Service]
User=root
WorkingDirectory=/etc/aether
ExecStart=/usr/bin/station --home=/etc/aether/ --radio-init=/etc/aether/scripts/init.sh --force
Restart=always

[Install]
WantedBy=multi-user.target
